# Ignore executables
.bin/*

# Ignore build and lib directories
build/*
lib/*

# Visual Studio Code workspace settings
*.vscode

# junk from during development
*.config

# valgrind stuff
*vgcore.*

# gdb stuff
*.gdb*
